body{
    background-color: black;
    color: white;
}
.sbtn{
    border: 2px solid skyblue;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
.sbtn:hover{
    background-color: blue;
    opacity: 0.8;
    cursor: pointer;
}
.sbtn:active{
    border-color:whitesmoke;
    background-color: lightgreen;
    opacity: 0.7;
}
.simg{
    height: 50px;
}

